---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HomeLab Traefik Error</title>
  </head>
  <style type="text/css">
    @import "tailwindcss";

    @theme {
      --font-sans: "FairFax HD", sans-serif;
    }

    @custom-variant dark (&:where(.dark, .dark *));
  </style>
  <body class="h-100v dark m-0">
    <slot />
  </body>
</html>
